#ignore everything by default
*
!.gitignore
!src/

#inside src, ignore Python cache files
src/__pycache__/

#virtual environment
.venv/
venv/

#python cache/compiled files
__pycache__/
*.py[cod]
*.so
*.egg-info/
.eggs/

#jupyter
.ipynb_checkpoints/
*.ipynb_convert/

#datasets (raw, large, or private)
data/raw/
data/interim/
data/processed/
data/external/

#logs & cache
*.log
logs/
.cache/
dist/
build/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json

#reports (large files)
reports/*.html
reports/*.pdf
reports/figures/
